{% extends "userside/base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-3">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-1">Our Shop</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Start -->
<div class="container-fluid pt-5">
    {% if messages %}
    {% for message in messages %}
    <span class="warning" style="position: absolute;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
    {% endfor %}
    {% endif %}

    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Categories</h5>
                <form method='post'>
                    {% csrf_token %}
                    {% for category in categories %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="category-{{ category.id }}" name="category" value="{{ category.id }}">
                        <label class="custom-control-label" for="category-{{ category.id }}">{{ category.cat_name }}</label>
                        <!-- Replace the following span with your count logic -->
                        <span class="badge border font-weight-normal">{{ category.num_product_variants }}</span>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-secondary rounded">Apply Filter</button>
                </form>
                

            </div>
            
            
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form class="d-flex" action="{% url 'store_app:userside_search' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                
                                <input type="text" class="form-control" placeholder="Search by name" name="search_product">
                                <button>
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search" type="submit"></i>
                                    </span>
                                </div>
                            </button>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                        Sort by
                                    </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="{% url 'store_app:low_to_high' %}">Low To High</a>
                                <a class="dropdown-item" href="{% url 'store_app:high_to_low' %}">High To Low</a>
                                <a class="dropdown-item" href="{% url 'store_app:aA_to_zZ' %}">Aa To Zz</a>
                                <a class="dropdown-item" href="{% url 'store_app:Zz_to_Aa' %}">Zz to Aa</a>

                                {% comment %} <a class="dropdown-item" href="#">Best Rating</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>

                {% for product in products_list %}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href = "{% url 'store_app:product_details' product.id %}">
                            <img class="img-fluid w-100" src="{{ product.thumbnail_image.url }}" alt="">
                        </a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{product.variant_name}}</h6>
                            <div class="d-flex justify-content-center">
                                {% comment %} {% if product.offer %}
                                <p class="card-text" style="color: red">Category Discount: -₹{{ product.offer_discount }}</p>
                                <h6>₹{{ product.sale_price }}</h6>
                                <h6 class="text-muted ml-2"><del>₹{{ product.price }}</del></h6>
                            {% else %} {% endcomment %}
                                <h6>₹{{ product.sale_price }}</h6>
                                <!-- Uncomment the following line if you want to display the original price -->
                                <!-- <h6 class="text-muted ml-2"><del>₹{{ product.price }}</del></h6> -->
                            {% comment %} {% endif %} {% endcomment %}
                            
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{% url 'store_app:product_details' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            {% if product.stock < 1 %}
                            <p class="btn btn-sm text-danger p-0">Out Of Stock</p>
                            {% else %}
                            <a href="{% url 'cart_app:add_cart' product.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                    {% if products_list.has_other_pages %}
                      <ul class="pagination justify-content-center mb-3">
                        {% if products_list.has_previous %}
                        <li class="page-item"><a class='page-link' href="?page={{ products_list.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class='page-link' href="#">Previous</a></li>

                        {% endif %}

                        {% for i in products_list.paginator.page_range %}
                            {% if products_list.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if products_list.has_next %}
                        <li class="page-item"><a class='page-link' href="?page={{ products_list.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class='page-link' href="#">Next</a></li>

                        {% endif %}
                        {% comment %} <li class="page-item"><a class="page-link" href="#">Next</a></li> {% endcomment %}

                            {% comment %} <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li> {% endcomment %}
                      </ul>
                    {% endif %}
                    </nav>
                </div> 
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

{% endblock %}
