<!-- user_account_options.html -->

<ul class="menu-aside">
    <li class="menu-item">
        {% comment %} <a class="menu-link" href="{% url 'user_management_app:edit_profile' %}">Edit Profile</a> {% endcomment %}
        <a class="menu-link" href="">Edit Profile</a>

    </li>
    <li class="menu-item">
        {% comment %} <a class="menu-link" href="{% url 'user_management_app:account_settings' %}">Account Settings</a> {% endcomment %}
        <a class="menu-link" href="">Account Settings</a>

    </li>
    <li class="menu-item">
        {% comment %} <a class="menu-link" href="{% url 'user_management_app:wallet' %}">Wallet</a> {% endcomment %}
        <a class="menu-link" href="">Wallet</a>

    </li>
    <!-- Add more user-specific options as needed -->
</ul>
